<div class="container">
  <div class='row'>
    <div class='col-sm'>
      <%= form_for([@drawer, @codetool], :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <% if @codetool.errors.any? %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="bg-heading">
            <h2 class="bg-title">
              <%= pluralize(@codetool.errors.count, "error") %>
              prohibited this drawer from being saved:
            </h2>

            <div class="bg-body">
              <ul>
                <% @codetool.errors.full_messages.each do |msg|  %>
                <li>
                  <%= msg %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <% end %>
        <div class='form-group'>
          <div class='control-label col-sm'>
            <%= f.label :title %>
          </div>
          <div class='col-sm'>
            <%= f.text_field :title, class: 'form-control', placeholder: 'Title of codetool', autofocus: true %>
          </div>
        </div>
        <div class='form-group'>
          <div class='control-label col-sm'>
            <%= f.label :content %>
          </div>
          <div class='col-sm'>
            <%= f.text_area :content, rows: 5, class: 'form-control', placeholder: 'Content of codetool' %>
          </div>
        </div>
        <div class='form-group'>
          <div class='col-md-offset-1 col-sm'>
            <%= f.submit class: 'btn btn-primary pull-right' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
