<!-- Modal -->
<div class="modal fade" id="codetoolForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Codetool</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <%= form_for [@drawer, @codetool], html: {class: "form-horizontal", role: "form"} do |f| %>
            <% if @codetool.errors.any? %>
              <div class="panel panel-danger col-md-offset-1">
                <div class="panel-heading">
                  <h2 class='panel-title'>
                    <%= pluralize(@codetool.errors.count, "error") %>
                    prohibited this codetool from being saved:
                  </h2>
                  <div class="panel-body">
                    <ul>
                      <% @codetool.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="form-group">
              <div class="control-label col-md-12">
                <%= f.label :title %>
              </div>
              <div class="col-md-12">
                <%= f.text_field :title, class: 'form-control', placeholder: "Codetool Title", autofocus: true  %>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-12">
                <%= f.label :content %>
              </div>
              <div class="col-md-12">
                <%= f.text_area :content, rows: 10, class: 'form-control', placeholder: "Your codetool" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <%= f.submit "Create Codetool", class: "btn btn-primary pull-right" %>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
