<div class="container-fluid">
  <div class='row'>
    <div class='col-sm'>
      <%= form_for([@drawer, @codetool], html: {class: "form-horizontal #{action_name}_codetool", role: "form"}) do |f| %>

        <% if @codetool.errors.any? %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="bg-heading">
              <div class="h2 bg-title">
                <%= pluralize(@codetool.errors.count, "error") %>
                prohibited this drawer from being saved:
              </div>

              <div class="bg-body">
                <ul>
                  <% @codetool.errors.full_messages.each do |msg|  %>
                    <li>
                      <%= msg %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>

        <div class='form-group'>
          <div class='control-label col-sm'>
            <%= f.label :title %>
          </div>
          <div class='col-sm'>
            <%= f.text_field :title, class: 'form-control', placeholder: 'Title of codetool', autofocus: action_name == "new" %>
          </div>
        </div>

        <div class='form-group'>
          <div class='control-label col-sm'>
            <%= f.label :content %>
          </div>
          <div class='col-sm'>
            <%= f.text_area :content, rows: 15, class: 'form-control', placeholder: 'Content of codetool', autofocus: action_name == "update"  %>
              <div class="btn-group textarea-height-buttons">
              <div class="decrease-area-icon text-right">
                <%= octicon "fold-up", height: 18 %>
              </div>
              <div class="increase-area-icon text-right">
                <%= octicon "fold-down", height: 18 %>
              </div>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <div class='control-label col-sm'>
            <%= f.label :drawer %>
          </div>
          <div class='col-sm'>
            <% selection_drawers = current_user.drawers + current_user.collaborated_drawers %>
            <%= f.select(:drawer_id, selection_drawers.collect {|drawer| [drawer.title, drawer.id]}, { selected: @drawer.id }, id: "event_drawer_ids", class: "form-control dropdown", selected: f.object.drawer, disabled: disabled? ) %>
          </div>
        </div>

        <div class="p-2 form-footer d-flex flex-row justify-content-between">
          <div class="public-check">
            <div class='form-check'>
              <div class='control-label col-sm'>
                <%= f.check_box :public, id: 'public_checkbox', 'data-toggle': 'toggle',
                                                                'data-size': 'sm',
                                                                'data-on': "#{octicon 'organization'}",
                                                                'data-off': "#{octicon 'lock'}",
                                                                'data-onstyle': 'outline-primary' + "#{' disabled' if disabled?}",
                                                                'data-offstyle': 'light' + "#{' disabled' if disabled?}",
                                                                disabled: disabled? %>
              </div>
            </div>
          </div>

          <%= link_to 'https://www.markdownguide.org/basic-syntax/', class: 'markdown-link', target: '_blank', title: 'Markdown Syntax' do %>
            <%= octicon 'markdown', height: 36 %>
          <% end %>
        </div>

        <div class='form-group'>
          <div class='col-md-offset-1 col-sm submit-button'>
            <%= f.submit class: 'btn btn-primary pull-right' %>
            <%= f.submit 'Quick Save', class: 'btn btn-outline-primary pull-right', title: '⌘ + ⏎ or ⌃ + ⏎' %>
            <%= link_to 'Cancel', drawer_codetools_path(@drawer), class: 'btn btn-outline-danger pull-right' %>
            <% if @codetool.user == current_user %>
              <%= link_to drawer_codetool_path(@drawer, @codetool), method: :delete, class: 'delete-codetool-icon btn btn-danger float-right','data-toggle':'tooltip',
                                                                  title: "Delete Codetool", data: { confirm: "Are you sure you want to delete codetool?" } do %>
                <%= octicon "trashcan", height: 18 %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
