<div class="detail-drawer">
  <div class="row">
    <div class="col-8">
      <h1 class="drawer-detail-title"><%= octicon "archive", height: 42 %> <%= @drawer.title %></h1>
      <small class="glyphicon glyphicon-calendar" id="drawer-date">
        <%= octicon "calendar" %> <%= @drawer.created_at.strftime("%d-%b-%Y") %>
      </small>
      <small class="drawer-author">
        Created by: <%= @drawer.user.email %>
      </small>
      <div class="drawer-description">
        <%= @drawer.description %>
      </div>
    </div>

    <div class="col text-right">
      <%= link_to edit_drawer_path(@drawer), class: 'edit-drawer-icon', 'data-toggle':'tooltip', title: "Edit Drawer" do %>
        <%= octicon "pencil", height: 24 %>
      <% end %>

      <%= link_to drawer_path(@drawer), method: :delete, class: 'delete-drawer-icon','data-toggle':'tooltip', title: "Delete Drawer",
                                        data: { confirm: "Are you sure you want to delete drawer?" } do %>
        <%= octicon "trashcan", height: 24 %>
      <% end %>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="codetools-header">
        <div class="col-8">
          <h2><%= octicon "tools", height: 24 %> <%= @drawer.title %> codetools</h2>
        </div>
        <div class="col text-right">
          <%= link_to new_drawer_codetool_path, class: 'new-codetool-icon', 'data-toggle':'tooltip', title: "New Codetool" do %>
          <h6><%= octicon "plus", height: 24 %> New Codetool</h6>
          <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <% if @drawer.codetools.any? %>
          <% persisted_codetools(@drawer.codetools).each do |codetool| %>

            <%= link_to "#codetool" + "#{codetool.id}", class: "show-codetool", 'data-toggle': 'collapse', 'aria-expanded': 'false', 'aria-controls': "codetool" + "#{codetool.id}" do %>
              <div class="card mt-2">
                <div class="card-body">
                  <h4 class="codetool-title">
                    <%= codetool.title %>
                    <div class="toggle-codetool-content-icon" ><%= octicon "chevron-down", class: "codetool" + "#{codetool.id}", height: 24 %></div>
                  </h4>
                  <div class="collapse multi-collapse" id=<%= "codetool#{codetool.id}" %> >
                    <div class="codetool- content">
                      <%= markdown(codetool.content) %>
                    </div>
                    <small class="codetool-time">
                      <%= time_ago_in_words(codetool.created_at)  %>
                      ago by <%= codetool.user.email %>
                    </small>
                    <div class="codetool-footer">
                      <%= link_to edit_drawer_codetool_path(@drawer, codetool), class: 'edit-codetool-icon', 'data-toggle':'tooltip', title: "Edit Codetool" do %>
                        <%= octicon "pencil", height: 18 %>
                      <% end %>
                      <%= link_to drawer_codetool_path(@drawer, codetool), method: :delete, class: 'delete-codetool-icon','data-toggle':'tooltip',
                      title: "Delete Codetool", data: { confirm: "Are you sure you want to delete codetool?" } do %>
                        <%= octicon "trashcan", height: 18 %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          There are no codetools to show.
        <% end %>
      </div>

    </div>
  </div>
</div>
