 <div class="detail-drawer">
  <div class="row">
    <div class="col-12 col-sm-10">
      <div class="h1 drawer-detail-title"><%= @drawer.title %></div>
      <small class="glyphicon glyphicon-calendar" id="drawer-date">
        <%= octicon "calendar" %> <%= @drawer.created_at.strftime("%d-%b-%Y") %>
      <span class="drawer-author">
        Created by: <strong> <%= link_to (content_tag :span, @drawer.user.username, class: 'creator-badge'), user_public_codetools_path(@drawer.user.id) %></strong>
      </span>
      <span class="drawer-collaborators">
        <%= drawer_collaborators %>
      </span>
      </small>
      <div class="drawer-description">
        <%= @drawer.description %>
      </div>
    </div>

    <% unless @drawer.friends.include?(current_user) %>
      <div class="col text-right">
        <div class="btn-group" role="group">
          <%= link_to edit_drawer_path(@drawer), class: 'edit-drawer-icon btn btn-outline-dark', 'data-toggle':'tooltip', title: "Edit Drawer", 'data-turbolinks': false do %>
            <%= octicon "pencil", height: 22 %>
          <% end %>

          <%= link_to drawer_path(@drawer), method: :delete, class: 'delete-drawer-icon btn btn-outline-dark','data-toggle':'tooltip', title: "Delete Drawer",
                                            data: { confirm: "Are you sure you want to delete drawer?\nAll content will be deleted." } do %>
            <%= octicon "trashcan", height: 24 %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-2 new-codetool">
        <div class="card-body">
          <div class="codetools-header">
            <%= link_to new_drawer_codetool_path, class: 'new-codetool-icon', 'data-toggle':'tooltip', title: "New Codetool", 'data-turbolinks': false do %>
            <div class="h4 codetool-title"><%= octicon "plus", height: 18 %>&nbsp; New Codetool</div>
            <% end %>
          </div>
        </div>
      </div>
      <div id="codetools-list" class="col-md-12" data-url="<%= sort_codetool_drawer_codetools_path %>">
        <% if @drawer.codetools.any? %>
          <% persisted_codetools(@codetools).each do |codetool| %>
            <%= render 'codetool_item', codetool: codetool %>
          <% end %>
        <% else %>
          There are no codetools to show.
        <% end %>
      </div>

    </div>
  </div>
</div>
