 <div class="detail-drawer">
  <div class="row">
    <div class="col-8">
      <h1 class="drawer-detail-title"><%= octicon "archive", height: 42 %> <%= @drawer.title %></h1>
      <div class="drawer-description">
        <%= @drawer.description %>
      </div>
      <small class="glyphicon glyphicon-calendar" id="drawer-date">
        <%= octicon "calendar" %> <%= @drawer.created_at.strftime("%d-%b-%Y") %>
      </small>&nbsp;
      <small class="drawer-author">
        <span>Created by: <strong> <%= @drawer.user.username %></strong></span>
      </small>&nbsp;
      <small class="drawer-collaborators">
        <%= drawer_collaborators %>
      </small>
    </div>

    <% unless @drawer.friends.include?(current_user) %>
      <div class="col text-right">
        <%= link_to edit_drawer_path(@drawer), class: 'edit-drawer-icon', 'data-toggle':'tooltip', title: "Edit Drawer", 'data-turbolinks': false do %>
          <%= octicon "pencil", height: 24 %>
        <% end %>

        <%= link_to drawer_path(@drawer), method: :delete, class: 'delete-drawer-icon','data-toggle':'tooltip', title: "Delete Drawer",
                                          data: { confirm: "Are you sure you want to delete drawer?" } do %>
          <%= octicon "trashcan", height: 24 %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-2 new-codetool">
        <div class="card-body">
          <div class="codetools-header">
            <%= link_to new_drawer_codetool_path, class: 'new-codetool-icon', 'data-toggle':'tooltip', title: "New Codetool" do %>
            <h4 class="codetool-title"><%= octicon "plus", height: 18 %>&nbsp; New Codetool</h4>
            <% end %>
          </div>
        </div>
      </div>
      <div id="codetools-list" class="col-md-12" data-url="<%= sort_codetool_drawer_codetools_path %>">
        <% if @drawer.codetools.any? %>
          <% persisted_codetools(@codetools).each do |codetool| %>
            <%= render 'codetool_item', codetool: codetool %>
          <% end %>
        <% else %>
          There are no codetools to show.
        <% end %>
      </div>

    </div>
  </div>
</div>
