 <div class="detail-drawer">
  <div class="row">
    <div class="col-8">
      <h1 class="drawer-detail-title"><%= octicon "archive", height: 42 %> <%= @drawer.title %></h1>
      <div class="drawer-description">
        <%= @drawer.description %>
      </div>
      <small class="glyphicon glyphicon-calendar" id="drawer-date">
        <%= octicon "calendar" %> <%= @drawer.created_at.strftime("%d-%b-%Y") %>
      </small>
      <small class="drawer-author">
        Created by: <%= @drawer.user.username %>
      </small>
    </div>

    <div class="col text-right">
      <%= link_to edit_drawer_path(@drawer), class: 'edit-drawer-icon', 'data-toggle':'tooltip', title: "Edit Drawer" do %>
        <%= octicon "pencil", height: 24 %>
      <% end %>

      <%= link_to drawer_path(@drawer), method: :delete, class: 'delete-drawer-icon','data-toggle':'tooltip', title: "Delete Drawer",
                                        data: { confirm: "Are you sure you want to delete drawer?" } do %>
        <%= octicon "trashcan", height: 24 %>
      <% end %>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="codetools-header">
        <div class="col-8">
          <h2><%= octicon "tools", height: 24 %> <%= @drawer.title %> codetools</h2>
        </div>
        <div class="col text-right">
          <%= link_to new_drawer_codetool_path, class: 'new-codetool-icon', 'data-toggle':'tooltip', title: "New Codetool" do %>
          <div><%= octicon "plus", height: 18 %> New Codetool</div>
          <% end %>
        </div>
      </div>
      <div id="codetools-list" class="col-md-12" data-url="<%= sort_drawer_codetools_path %>">
        <% if @drawer.codetools.any? %>
          <% persisted_codetools(@codetools).each do |codetool| %>
            <%= render 'codetool_item', codetool: codetool %>
          <% end %>
        <% else %>
          There are no codetools to show.
        <% end %>
      </div>

    </div>
  </div>
</div>
