
<%= form_tag(search_path(@drawer), method: "get", class: "form-inline my-2 my-lg-0", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "Search", 'aria-label': 'Search' %>
    <%= button_tag(type: "submit", class: "btn btn-light my-2 my-sm-0 search") do %>
        <%= octicon 'search'%>
    <% end %>
<% end %>

<% if @searched_codetools.present? %>
    <ul>
    <% @searched_codetools.each do |searched_codetool| %>
        <li><%= searched_codetool.title %></li>
    <% end %>
    </ul>
<% else %>
    <p>There are no codetools containing the term(s) <%= params[:search] %>.</p>
<% end %>