<div class="detail-friends">
 <div class="container">
   <div class="col-12">
    <h1>Search your Code-Friends</h1>
    <div class="input-group">
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <%= form_tag(search_friends_path(@user), class: "form-control", method: "get", id: "search-form") do %>
            <%= text_field_tag :search_friends, params[:search_friends], placeholder: "Search Friends", class: 'form-control search-friend', 'aria-label': 'Search' %>
            <span class="input-group-btn">
              <%= submit_tag "Search Friends", class: 'btn btn-primary search-friends' %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
    <% @searched_friends.each do |friend| %>
      <% unless friend == current_user %>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= friend.username %></h5>
              <% if current_user.friends.map(&:friend_id).include?(friend.id)%>
                <%= link_to "Unfollow", friends_path(friend_id: friend), method: :delete, class:"btn btn-danger" %>
              <% else %>
                <%= link_to "Follow", friends_path(friend_id: friend), method: :post, class:"btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
</div>
