<div class="row">
  <div class="col-sm-12">
    <div class="card drawer-list new-drawer">
      <%= link_to new_drawer_path, class: 'drawer-detail' do %>
        <div class="card-body">
          <div class="h2 drawer-title">
            <%= octicon "plus", height: 24 %> New Drawer
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card drawer-list">
      <%= link_to pin_codetools_path, class: 'drawer-detail' do %>
      <div class="card-body">
        <div class="h4 drawer-title">
          <%= octicon "pin", height: 24 %> Work Board
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card drawer-list">
      <%= link_to favorite_codetools_path, class: 'drawer-detail' do %>
      <div class="card-body">
        <div class="h4 drawer-title">
          <%= octicon "star", height: 24 %> Favorite Codetools
        </div>
      </div>
      <% end %>
    </div>
  </div>



  <div class="col-sm-12" id="collaborated-drawers-list">
    <% collaborated_drawers.each do |drawer| %>
      <div class="card drawer-list">
        <div class="drawer-item-sidebar <%= check_active_link(drawer.id) %>" id="<%= dom_id(drawer) %>">
          <%= link_to drawer_codetools_path(drawer), class: 'drawer-link-sidebar', 'data-turbolinks': false do %>
            <div class="card-body">
              <div class="h4 drawer-item-menu">
                <span class="drawer-list-icon">
                  <%= octicon "primitive-square" %>
                </span>
                &nbsp;
                <%= drawer.title.truncate(50) %>
                <% if drawer.friends.present? %>
                  <span class='collaborated-drawer-icon float-right'><%= octicon 'organization'%></span>
                <% end%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
