<div class="container-fluid drawer-list">
  <div class='h3 text-center'>Drawers list</div>
  <%= render 'drawers_header' if current_device_is_mobile? %>
  <% if @drawers.empty? %>
    <div class="h1" id="no-drawers">No drawers created</div>
  <% else %>
    <div id="drawers-list" data-url="<%= sort_drawer_drawers_path %>">
      <% @drawers.each do |drawer| %>
        <div class="card drawer-list" id="<%= dom_id(drawer) %>">
          <%= link_to drawer_codetools_path(drawer), class: 'drawer-link-sidebar', 'data-turbolinks': false do %>
            <div class="card-body">
              <div class="h4">
                <span class="drawer-list-icon">
                  <%= octicon "kebab-vertical", height: 24 %>
                </span>
                &nbsp;
                <span class="drawer-title">
                  <%= drawer&.title %>
                  <% if drawer.friends.present? %>
                    <span class='collaborated-drawer-icon float-right'><%= octicon 'organization'%></span>
                  <% end%>
                </span>
              </div>
              <small class="drawer-description">
                <%= truncate(drawer.description, length: 140) %>
              </small><br>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
