<div class="container-fluid drawer-list">
  <div class='h3 text-center'>Drawers list</div>
  <%= render 'drawers_header' if current_device_is_mobile? %>
  <% if @drawers.empty? %>
    <div class="h1" id="no-drawers">No drawers created</div>
  <% else %>
    <% @drawers.each do |drawer| %>
      <div class="card drawer-list">
        <%= link_to drawer_codetools_path(drawer), class: 'drawer-detail' do %>
          <div class="card-body">
            <div class="h4 drawer-title">
              <%= drawer&.title %>
              <% if drawer.friends.present? %>
                <span class='collaborated-drawer-icon float-right'><%= octicon 'organization'%></span>
              <% end%>
            </div>
            <small class="drawer-description">
              <%= truncate(drawer.description, length: 140) %>
            </small><br>
            
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
