<div class="drawer-list">
  <h3 class='text-center'>Drawers list</h3>
  <% if @drawers.empty? %>
    <h1 id="no-drawers">No drawers created</h1>
  <% else %>
    <% @drawers.each do |drawer| %>

      <div class="card drawer-list">
        <%= link_to drawer_codetools_path(drawer), class: 'drawer-detail' do %>
          <div class="card-body">
            <h4 class="drawer-title">
              <%= octicon "archive", height: 36 %> <%= drawer.title %>
            </h4>
            <small class="drawer-description">
              <%= truncate(drawer.description, length: 140) %>
            </small><br>
            <small class="drawer-time-author">
              <%= set_item_time(drawer) %>
            </small>
          </div>
        <% end %>
      </div>

    <% end %>
  <% end %>
</div>
