<div class="detail-drawer">
  <h1 class="drawer-detail-title"><%= octicon "archive", height: 42 %> <%= @drawer.title %></h1>
  <small class="glyphicon glyphicon-calendar" id="drawer-date">
    <%= octicon "calendar" %> <%= @drawer.created_at.strftime("%d-%b-%Y") %>
  </small>
  <div class="drawer-description">
    <%= @drawer.description %>
  </div>
  <br>
  <%= link_to 'Edit', edit_drawer_path(@drawer), class: 'btn btn-outline-primary btn-space' %>
  <%= link_to 'Delete', drawer_path(@drawer), method: :delete,
      data: { confirm: "Are you sure you want to delete drawer?" },
      class: 'btn btn-outline-danger btn-space' %>
  <%= link_to 'New Codetool',"#", class: 'btn btn-outline-success btn-space' %>
</div>

<div class="col-md-12">
  <%= form_for [@drawer, @codetool], html: {class: "form-horizontal", role: "form"} do |f| %>
    <% if @codetool.errors.any? %>
      <div class="panel panel-danger col-md-offset-1">
        <div class="panel-heading">
          <h2 class='panel-title'>
            <%= pluralize(@codetool.errors.count, "error") %>
            prohibited this codetool from being saved:
          </h2>
          <div class="panel-body">
            <ul>
              <% @codetool.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="control-label col-md-12">
        <%= f.label :title %>
      </div>
      <div class="col-md-10">
        <%= f.text_field :title, class: 'form-control', placeholder: "Codetool Title", autofocus: true  %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-12">
        <%= f.label :content %>
      </div>
      <div class="col-md-10">
        <%= f.text_area :content, rows: 10, class: 'form-control', placeholder: "Your codetool" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit "Create Codetool", class: "btn btn-primary pull-right" %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="col-md-12">
  <header>
    <h2>Codetools</h2>
  </header>

  <div class="col-md-10">
    <% if @drawer.codetools.any? %>
      <% persisted_codetools(@codetools).each do |codetool| %>
        <h4 class="codetool-title">
          <%= codetool.title %>
        </h4>
        <div class="codetool-content">
          <%= codetool.content  %>
        </div>
        <small class="codetool-time">
          <%= time_ago_in_words(codetool.created_at)  %>
          ago by <%= codetool.user.email %>
        </small>
      <% end %>
    <% else %>
      There are no codetools to show.
    <% end %>
  </div>
</div>
