<div class="detail-drawer">
  <h1 class="drawer-detail-title"><%= octicon "archive", height: 42 %> <%= @drawer.title %></h1>
  <small class="glyphicon glyphicon-calendar" id="drawer-date">
    <%= octicon "calendar" %> <%= @drawer.created_at.strftime("%d-%b-%Y") %>
  </small>
  <div class="drawer-description">
    <%= @drawer.description %>
  </div>
  <br>
  <%= link_to 'Edit', edit_drawer_path(@drawer), class: 'btn btn-outline-primary btn-space' %>
  <%= link_to 'Delete', drawer_path(@drawer), method: :delete,
      data: { confirm: "Are you sure you want to delete drawer?" },
      class: 'btn btn-outline-danger btn-space' %>
</div>
