<h3 class='text-center'>Adding New Case</h3>
<div class="container">
  <div class='row'>
    <div class='col-sm'>
      <%= form_for(@case, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <% if @case.errors.any? %>
      <div class="alert-danger">
        <div class="bg-heading">
          <h2 class="bg-title">
            <%= pluralize(@case.errors.count, "error") %>
            prohibited this case from being saved:
          </h2>

          <div class="bg-body">
            <ul>
              <% @case.errors.full_messages.each do |msg|  %>
              <li>
                <%= msg %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
      <div class='form-group'>
        <div class='control-label col-sm'>
          <%= f.label :title %>
        </div>
        <div class='col-sm'>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Title of case', autofocus: true %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm'>
          <%= f.label :description %>
        </div>
        <div class='col-sm'>
          <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: 'Description of case' %>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-md-offset-1 col-sm'>
          <%= f.submit class: 'btn btn-primary btn-lg pull-right' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
