<div class="detail-friends">
  <div class="row">
    <div class="col-12 d-flex flex-row">
      <div class="h1 drawer-detail-title"><%= octicon "radio-tower", height: 42 %> <%= "#{@user.username} Public Codetools" %> </div>
      <div class="col text-right" style="float: right;">
        <div class="friend-info">
          <% if current_user.followed_back_by?(@user) %>
            <span class="friend-followback-info">
              <%= octicon "organization", height: 24  %>
            </span>
          <% end %>
          <% if current_user.friend?(@user) %>
            <%= link_to "Unfollow", friends_path(friend_id: @user), method: :delete, class:"btn btn-outline-danger" %>
          <% else %>
            <%= link_to follow_button(@user), friends_path(friend_id: @user), method: :post, class:"btn btn-outline-success follow-button" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <div id="codetools-list" class="col-md-12">
        <% if @public_codetools.any? %>
          <% @public_codetools.each do |codetool| %>
            <%= render './codetools/codetool_item', codetool: codetool %>
          <% end %>
        <% else %>
          There are no codetools to show.
        <% end %>
      </div>

    </div>
  </div>
</div>
