
<header role="banner">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><%= octicon "archive", height: 36, class: 'logo' %>  Codedrawer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="notifications-badge badge badge-warning badge-pill"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <li class="nav-item active search-form-wrapper">
            <%= form_tag(search_path(@drawer), method: "get", class: "form-inline my-2 my-lg-1", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], class: "search-field form-control mr-sm-2", placeholder: "Search (CRTL + F)", 'aria-label': 'Search' %>
                <%= button_tag(type: "submit", class: "btn btn-light my-2 my-sm-0 search") do %>
                  <%= octicon 'search'%>
                <% end %>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to search_friends_path, class: 'nav-link', title: 'Search Friends' do %>
              <%= octicon 'organization', height: 24 %> Friends
            <% end %>
          </li>
          <% if current_device_is_mobile? %>
            <li class="nav-item active">
              <%= link_to drawers_path, class: 'nav-link' do %>
                <%= octicon 'list-unordered' %> Drawers List
              <% end %>
            </li>
          <% end %>
        <% end %>

        <% if user_signed_in? %>
          <li id="notifications" class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= octicon "bell", height: 24 %>
              <span class="notifications-badge badge badge-warning badge-pill"></span>
            </a>
            <div class="notifications-list dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <% if current_user.notifications.unread.blank? %>
                <div class="dropdown-item">No notifications</div>
              <% end %>
            </div>
          </li>
        <% end %>

        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= user_signed_in? ? "#{current_user.username}" : "Start session" %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item', id: 'sign-in-menu' %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path, class: 'dropdown-item', id: 'sign-out-menu' %>
              <%= link_to "Sign up", new_user_registration_path, class: 'dropdown-item', id: 'sign-up-menu' %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<% if (current_user && !current_device_is_mobile?) && !show_codetool_page? %>
  <%= render 'shared/sidebar', drawers: @drawers %>
<% end %>
