<header role="banner">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand"><%= octicon "archive", height: 36, class: 'logo' %>  Codedrawer</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if current_user%>
        <li class="nav-item active">
          <%= form_tag(search_path(@drawer), method: "get", class: "form-inline my-2 my-lg-1", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "Search", 'aria-label': 'Search' %>
              <%= button_tag(type: "submit", class: "btn btn-light my-2 my-sm-0 search") do %>
                  <%= octicon 'search'%>
              <% end %>
          <% end %>
        </li>
        <% if current_device_is_mobile? %>
          <li class="nav-item active">
            <%= link_to drawers_path, class: 'nav-link' do %>
              <%= octicon 'list-unordered'%> Drawers List
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to new_drawer_path, class: 'nav-link' do %>
              <%= octicon 'plus'%> New Drawer
            <% end %>
          </li>
        <% end %>
        <li class="nav-item active">
          <%= link_to 'Markdown Syntax', 'https://www.markdownguide.org/basic-syntax/', class: 'nav-link', target: '_blank' %>
        </li>
          <% end %>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= user_signed_in? ? "#{current_user.username}" : "Start session" %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item', id: 'sign-in-menu' %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path, class: 'dropdown-item', id: 'sign-out-menu' %>
              <%= link_to "Sign up", new_user_registration_path, class: 'dropdown-item', id: 'sign-up-menu' %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>


<% if current_user && !current_device_is_mobile? %>
  <div id="sidebar" class="drawers-sidebar">
    <div class="drawers-list-sidebar full-height">
      <div class="drawer-item-sidebar <%= 'active' if params[:controller] == 'drawers' %>">
        <%= link_to new_drawer_path, class: 'drawer-link-sidebar' do %>
          <div class="drawer-item-menu">
            <h5>
              <%= octicon "plus", height: 24 %> New Drawer
            </h5>
          </div>
        <% end %>
      </div>
      <% current_user.drawers.each do |drawer| %>
        <div class="drawer-item-sidebar <%= check_active_link(drawer.id) %>">
          <%= link_to drawer_codetools_path(drawer), class: 'drawer-link-sidebar', 'data-turbolinks': false do %>
            <div class="drawer-item-menu">
              <h5>
                <%= octicon "archive", height: 36 %> <%= drawer.title.truncate(50) %>
              </h5>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
