<div id="sidebar" class="drawers-sidebar">
  <div class="drawers-list-sidebar full-height">
    <div class="drawer-item-sidebar <%= 'active' if params[:controller] == 'drawers' %>">
      <%= link_to new_drawer_path, class: 'drawer-link-sidebar' do %>
        <div class="drawer-item-menu">
          <div class="h4">
            <%= octicon "plus", height: 24 %> New Drawer
          </div>
        </div>
      <% end %>
    </div>

    <div class="drawer-item-sidebar <%= 'active' if params[:controller] == 'drawers' %>">
      <%= link_to friends_path, class: 'drawer-link-sidebar' do %>
        <div class="drawer-item-menu">
          <div class="h4">
            <%= octicon "radio-tower", height: 24 %> Friends Codetools
          </div>
        </div>
      <% end %>
    </div>

    <div class="drawer-item-sidebar <%= 'active' if params[:controller] == 'drawers' %> accordion" id="collaborated-drawers-list">
      <div class="card">
          <div class="card-header drawer-item-menu " id="heading">
            <div class="h4 mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <%= octicon "organization", height: 24 %> Collaborated Drawers <%= octicon "chevron-down", height: 24 %>
              </button>
            </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="heading" data-parent="#collaborated-drawers-list">
          <div class="card-body">
            <div id="collaborated-drawers-list">
              <% collaborated_drawers.each do |drawer| %>
                <div class="drawer-item-sidebar <%= check_active_link(drawer.id) %>" id="<%= dom_id(drawer) %>">
                  <%= link_to drawer_codetools_path(drawer), class: 'drawer-link-sidebar', 'data-turbolinks': false do %>
                    <div class="drawer-item-menu">
                      <div class="h4">
                        <%= octicon "archive", height: 26 %>&nbsp;<%= drawer_title(drawer) %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="drawers-list" data-url="<%= sort_drawer_drawers_path %>">
      <% drawers ||= sorted_drawers %>
      <% drawers.each do |drawer| %>
        <div class="drawer-item-sidebar <%= check_active_link(drawer.id) %>" id="<%= dom_id(drawer) %>">
          <%= link_to drawer_codetools_path(drawer), class: 'drawer-link-sidebar', 'data-turbolinks': false do %>
            <div class="drawer-item-menu">
              <div class="h4">
                <%= octicon "grabber", height: 24 %>&nbsp;&nbsp; <%= octicon "archive", height: 26 %>&nbsp;<%= drawer_title(drawer) %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
