<div class="detail-friends">
  <div class="container-fluid">

    <h1>Search your Code-Friends</h1>

    <div class="row">
      <div class="col-md-12">
          <div class="input-group">
          <%= form_tag(search_friends_path(@user), class: "input-group", method: "get", id: "search-friends-form", value: 'search') do %>
            <%= text_field_tag :search_friends, params[:search_friends], placeholder: "Search Friends", class: 'form-control py-2 border-right-0 border search-friend', 'aria-label': 'Search' %>
            <span class="input-group-append">
              <%= button_tag(type: :submit, class: 'input-group-text bg search-friends-button') do %>
                <%= octicon "search" %>
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <% @searched_friends.each do |friend| %>
        <% unless friend == current_user %>
          <div class="col-sm-4 py-2">
            <div class="card">
              <div class="card-body">

                <div class="h5 friend-codetool-title card-title">
                  <% if friend.codetools.is_public.any? %>
                  <div class="friend-codetool-name">
                    <% if current_user.friend?(friend) %>
                        <%= link_to friend.username, user_public_codetools_path(friend.id) %>
                    <% else %>
                        <%= friend.username %>
                    <% end %>
                  </div>
                    <span class="total-public-codetools badge badge-pill badge-info">
                      <%= friend.codetools.is_public.count %> <%= octicon "rss", height: 16 %>
                    </span>
                    <% if total_favorites(friend).present? %>
                      <span class="total-favorite-codetools badge badge-pill badge-warning">
                        <%= friend.total_favorite_codetools %> <%= octicon "star", height: 16 %>
                      </span>
                    <% end %>
                  <% else %>
                    <%= friend.username %>
                  <% end %>
                </div>

                <div class="friend-info">
                  <% if current_user.followed_back_by?(friend) %>
                    <span class="friend-followback-info">
                      <%= octicon "organization", height: 24  %>
                    </span>
                  <% end %>
                  <% if current_user.friend?(friend) %>
                    <%= link_to "Unfollow", friends_path(friend_id: friend), method: :delete, class:"btn btn-outline-danger" %>
                  <% else %>
                    <%= link_to follow_button(friend), friends_path(friend_id: friend), method: :post, class:"btn btn-outline-success" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
