<!DOCTYPE html>
<html>
  <head>
    <title>Codedrawer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/main' %>
    <div class="github-link">
      <%= link_to 'https://github.com/jrsahuquillo/CodeDrawerApp', target: '_blank', title: 'Fork me on Github' do %>
        <%= octicon 'mark-github', height: 24 %>
      <% end %>
    </div>

  </body>
</html>
